# templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  # The name will be "my-app-blue" or "my-app-green"
  name: "cal-application-{{ .Values.slot }}"
spec:
  type: NodePort # The ALB controller will manage this
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
  selector:
    app: cal-application
    slot: "{{ .Values.slot }}" # This selector is key!
                             # It routes traffic ONLY to the pods
                             # with the matching 'slot' label.